body{
    background-color:rgb(1,2,46);
    color: white;
    margin: 4%;
    font-family: 'Courier New', Courier, monospace;
}

.dark-mode {
    background-image: url('bck.jpg');
    color: black;
  }

h2{
    margin-left: 10%;
}
#personal{
    text-align: center;
}

#photo{
    width: 25%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#social{
    font-size: 36px;
}

table{
    margin-left: 10%;
    width: 80%;
    text-align: left;
    font-size: 16px;
    border : 1px solid rgb(175, 165, 219);
    padding:20px;
}
td{
    padding-top: 2%;

}
thead{
    font-size: 20px;
}

#projects th{
    text-align: right;
    padding-top: 2%;
    font-size: 20px;
}

#projects td{
    text-align: left;
    padding-top: 2%;
    font-size: 15px;
}


#tech{
    margin-left: 10%;
    text-align: left;
    font-size: 56px;
    padding:20px;
}

#tech i{
    padding:5px;
}
